.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header, .page-footer {
  background-color: #f25fff;
  color: #242424;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.page-header {
  flex-shrink: 0;
}

.page-footer {
  flex-shrink: 0;
  margin-top: auto;
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
  column-gap: 20px;
}

.recipe-details, .ingredients-list {
  background-color: #f9f9f9;
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
}

.recipe-details {
  order: 1;
}

.ingredients-list {
  order: 2;
}

.ingredients-list ul {
  list-style-type: disc;
  padding-left: 20px;
}

.related-recipes-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.related-recipe {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.related-recipe img {
  width: 100%;
  height: auto;
  display: block;
}

.related-recipe p {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.inline-recipes .recipe-item {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        margin: 1%;
      }
      .recipe-item img {
        width: 100%;
     }
     
     
.inline-recipes {
  display: flex;
  flex-wrap: wrap; /* permette di andare a capo se non c'è abbastanza spazio */
  gap: 16px; /* aggiunge spazio tra gli elementi */
}

.recipe-item {
  flex: 1 1 calc(33.333% - 16px); /* gli elementi si dividono lo spazio disponibile */
  box-sizing: border-box; /* include padding e border nel calcolo delle dimensioni */
}

.recipe-item img {
  max-width: 100%; /* l'immagine si adatta al contenitore */
  height: auto; /* mantiene le proporzioni dell'immagine */
}     
     
     
     
     
     
     
     
     
     
