<!DOCTYPE html>
<html>

<head>
    <title>Recipes</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>
    
    <h1>Recipes</h1>
    <div th:if="${recipes == null || recipes.isEmpty()}">No recipes saved</div>
    <ul>
        <li th:each="recipe : ${recipes}">
            <div>
                <a th:text="${recipe.name} + ':' + ${recipe.description}"></a>
            </div>
            <ul>
                <li th:each="ingredient : ${recipe.ingredients}">
                    <span th:text="${ingredient.name} + ' x' + ${ingredient.qnt}"></span>
                </li>
            </ul>
        </li>
    </ul>
</body>

</html>
