<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <link rel="stylesheet" href="/css/recipe.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>
  
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">
        <span th:text="${recipe.name}">Recipe's Name</span>
        <small>
          <a th:href="@{'/chefs' + '/' + ${recipe.chef.id}}" th:text="'Chef: ' + ${recipe.chef.name}"></a>
        </small>
      </h1>
    
      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-8">
          <img class="img-fluid" src="/images/broccoli.jpg" alt="Image of Broccoli">
        </div>
    
        <div class="col-md-4">
          <h3 class="my-3">Description</h3>
          <p th:text="${recipe.description}"></p>
          <h3 class="my-3">Ingredients</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>
      </div>
      <!-- /.row -->
    
       <!-- Related Projects Row -->
      <h3 class="my-4">Chef's other recipes</h3>
    
	<div class="inline-recipes">
	  <div th:each="rec : ${recipe.chef.recipes}">
	    <div th:if="${rec != recipe}" class="recipe-item">
	      <a th:href="@{'/recipes' + '/' + ${rec.id}}">
		<img class="img-fluid" th:src="@{/images/broccoli.jpg}" th:alt="${rec.name}">
	      </a>
	      <p th:text="${rec.name}">Recipe Name</p>
	    </div>
	  </div>
	</div>

      <!-- /.row -->
    
    </div>
    <!-- /.container -->

    <!-- Bootstrap and necessary plugins -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
